@import '../../styles/theme.scss';

.listing-container {
  background-color: $background-color;

  .listing-content {
    padding: $spacing-md;
    max-width: $breakpoint-xxl;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: $spacing-xl; // Default gap for smallest screens
  }

  .map-iframe {
    width: 100%;
    height: 450px;
    border-radius: $border-radius-md;
  }

  .footer {
    display: flex;
    justify-content: flex-end; /* Center the button horizontally */
    align-items: center; /* Center the button vertically */
    padding: $spacing-md;
    position: sticky;
    bottom: 0;
    width: 100%;
    backdrop-filter: blur(10px); /* Smooth background blur */
    background: rgba(255, 255, 255, 0.9); /* Slight transparency for a modern look */
    box-shadow: $shadow-small; /* Subtle shadow for separation */
    z-index: 1000; /* Ensures the footer stays above other content */
  }
}