@import '../../styles/theme.scss';

.home-container {
  display: flex;
  flex-direction: column;
  padding: $spacing-md;

  .home-body {
    display: flex;
    flex-direction: column;
    gap: 4rem; // Default gap for smallest screens
    margin-top:  $spacing-lg;
  }
}