@import '../../styles/theme.scss';

.home-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;

  .site-header {
    padding: $spacing-md;
    display: flex;
    justify-content: flex-start;
    max-width: $breakpoint-xxl;
    margin: 0 auto;
    width: 100%;

    .site-logo {
      height: 72px;
      object-fit: contain;
    }

    @media (max-width: $breakpoint-sm) {
      justify-content: center;

      .site-logo {
        height: 56px;
      }
    }
  }

  .home-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: $breakpoint-xxl;
    margin: 0 auto;
    padding: 0 $spacing-md;
    box-sizing: border-box;
    gap: 6rem;
    margin-bottom: 6rem;
  }
}