@import '../../styles/theme.scss';

.home-container {
  display: flex;
  flex-direction: column;
  gap: 6rem; // Default gap for smallest screens

  .home-body {
    display: flex;
    flex-direction: column;
    gap: 6rem; // Default gap for smallest screens
    padding: 0 $spacing-md;
    max-width: $breakpoint-xxl;
    margin: 0 auto;
  }
}

