@import "../../../../styles/theme.scss";

/* QA Section */
.qa-section {
  width: 100%;
}

/* Container */
.qa-container {
  display: flex;
  flex-direction: column;
  border-top: 1px solid $border-color;

  .qa-item {
    border-bottom: 1px solid $border-color;
    padding: $spacing-md 0;
    cursor: pointer;

    .qa-question {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $text-primary;
      transition: color 0.3s ease;

      h5 {
        font-weight: $font-weight-regular;
      }

      .icon {
        font-size: 1rem;
        color: $text-secondary;
        transition: transform 0.3s ease, color 0.3s ease;
      }

      &.active {
        color: $primary-color;

        .icon {
          transform: rotate(180deg);
          color: $primary-color;
        }
      }
    }

    .qa-answer {
      font-size: 1rem;
      color: $text-secondary;
      line-height: 1.6;
      padding: 0 $spacing-sm;
      max-height: 0;
      overflow: hidden;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease;

      &.active {
        margin-top: $spacing-sm;
        padding: $spacing-sm $spacing-sm;
        max-height: 400px;
        opacity: 1;
        visibility: visible;
      }
    }
  }
}