@import "../../../../styles/theme.scss";

/* QA Section Styles */
.qa-section {
  max-width: $breakpoint-xxl;
  margin: 0 auto;
  width: 100%;
}

.qa-container {
  .qa-item {
    overflow: hidden;
    border-bottom: 1px solid $border-color;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;

    &:hover {
    }

    .qa-question {
      padding: $spacing-md $spacing-sm;
      color: $text-primary;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: $spacing-md;
      transition: background-color 0.3s ease;

      &.active {

        .icon {
          transform: rotate(180deg); // Rotate icon when active
        }
      }

      .icon {
        font-size: 1rem;
        transition: transform 0.3s ease, color 0.3s ease;
      }
    }

    .qa-answer {
      padding: 0 $spacing-lg;
      font-size: 1.1rem;
      color: $text-secondary;
      line-height: 1.6;
      font-style: italic; // Slightly italicized for emphasis on readability
      height: 0;
      opacity: 0;
      visibility: hidden;
      transition: height 0.3s ease, opacity 0.3s ease, padding 0.3s ease;

      &.active {
        height: auto;
        opacity: 1;
        visibility: visible;
        padding: $spacing-md $spacing-lg;
      }
    }
  }

  .qa-item:last-child {
    border-bottom: none; // Remove border from the last item
  }
}