@import "../../../../styles/theme.scss";

.property-list-container {
  width: 100%;
  max-width: $breakpoint-xxl;
  margin: 0 auto;
}

.property-list {
  display: grid;
  gap: $spacing-lg;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); // More responsive grid
}

.property-card {
  position: relative;
  display: flex;
  flex-direction: column;

  .property-image {
    position: relative;
    height: 400px; // Reduced height for a balanced look
    overflow: hidden;
    border-radius: $border-radius-md;
    box-shadow: $shadow-small;
    margin: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .property-details {
    padding: $spacing-lg 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;

    .property-title {
      color: $text-primary;
      margin-bottom: $spacing-sm;
    }

    .property-price {
      color: $primary-color;
      margin-bottom: $spacing-sm;
    }

    .property-info {
      color: $text-secondary;
      margin-bottom: $spacing-lg;

      span {
        margin-right: $spacing-sm;
      }
    }
  }
}