@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 5)); /* Moves the slides by 7 widths */
  }
}

.slider {
  margin: auto;
  overflow: hidden;
  position: absolute;
  z-index: 1000;
  bottom: 0;
}


.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider .slide-track {
  animation: scroll 20s linear infinite; /* Reduced the time to 20s for a smoother loop */
  display: flex;
  width: calc(250px * 14); /* Width of the track adjusted to include 14 slides */
}

.slider .slide {
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 5px;
  box-sizing: border-box;
}