@import '../../../../styles/theme.scss';

.listing-main-photo {
  text-align: center;
  .main-photo {
    max-width: 100%;
    height: auto;
    border-radius: $border-radius-lg;
    box-shadow: $shadow-small;
  }
}