@import '../../../../styles/theme.scss';

.listing-main-photo {
  display: flex;
  justify-content: center; // Centering photo horizontally
  align-items: center; // Centering photo vertically

  .main-photo {
    width: 100%; // Ensures responsiveness
    height: auto;
    max-height: 60vh;
    border-radius: $border-radius-sm; // Subtle rounded corners for modern aesthetics
    box-shadow: $shadow-small; // Lighter shadow for a minimalistic design
    transition: transform 0.3s ease, box-shadow 0.3s ease; // Smooth transition for hover effects
  }
}